

<div>
  <div class="loader" ng-show = "tokenDetailsLoader">Loading...</div>
  <form ng-show = "!tokenDetailsLoader">
     <center><img src="https://png.icons8.com/average-2/dotty/80" title="Average 2" width="80" height="80"></center>
    <h4>Token Details</h4>
    <!--<input type="text" value="username"/>-->
    <label for="tokenName">Token Name</label> 
    <input type="text" name="tokenName" id="tokenName" placeholder="Enter token Name" ng-model="tokenName" required>


    <label for="symbol"> Symbol</label> 
    <input type="text" id="symbol" placeholder="Enter Symbol" ng-model="symbol" required>
    
    <label for="initialSupply"> Initial Supply</label> 
    <div class="well well-sm">
    Total number of tokens for distribution.
    </div>
    <input type="number" id="initialSupply" placeholder="Enter initial Supply" ng-model="initialSupply" required>
    
    <label for="decimal"> Decimal</label> 
    <div class="well well-sm">
    Decimal determines the fractional value of a Token.
    </div>
    <input type="number"  id="decimal" placeholder="Enter decimal" ng-model="decimal" required>
    <button ng-click="tokenDistributionNextClick()"  class="button button2" style = "width:100%">
        Next 
    </button>
 
  </form>
  
</div>