<footer id="footerWrapper">
	<section id="mainFooter">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<div class="footerWidget">
						<h5 >CrowdFunding Engine</h5>
						<ul class="list-unstyled iconList">
							<li><a ui-sref='home'>Home</a></li>
							<li><a ui-sref='aboutus'>About Us</a></li>
							<li><a ui-sref='listcampaign'>Explore Campaigns</a></li>
							
						</ul>
					</div>
				</div>
				<div class="col-md-4">
					<div class="footerWidget" align="center">
					<div class="space" ></div>
					<h5  >Follow Us</h5>
					<ul class="social-network social-circle">
                        <li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
                        <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
					<div class="space" ></div>	
					<p style="font-size:12px; text-align:center; padding-bottom:0px;">Copyright © 2016 Crowdfunding Platform/ All rights reserved.</p>	
					</div>
				</div>
				<div class="col-md-4" align="right">
					<div class="footerWidget" >
						<h5>Keep In Touch</h5>
						<address>
							<p style="text-align:right;"> <i class="icon-location"></i>Street-abc, Sector-144<br>
								Noida, Uttar Pradesh <br>India <br>
								<i class="glyphicon glyphicon-phone-alt"></i> (+91) 1234567899 <br>
							</p>
						</address>
						</div>
				    </div>
				</div>
			</div>
		</div>
	</section>
		
</footer>
