<div>
  
  <form>

    <h4>ICO Details</h4>

    <label for="startingdate">Starting Date</label> 
    <input type="text" style = "margin-bottom:3px"  ng-click = "goEvent();" placeholder = "Select date" ng-model="formData.startDate">
      <button class="button2  btn-group-justified" style = "margin-top:0" ng-click="goEvent();"> <i class="fa fa-calendar" style = "color:#fff" aria-hidden="true"></i></button>
    </input> 
            <div ng-show="datePicker">
        <div style="display:inline-block; min-height:290px;"> 
        <!--button type="btn btn-xs" class="close" aria-label="Close" ng-click="close();">
        <i class="fa fa-times-circle" style="color:#291919;" aria-hidden="true" ></i>
        </button-->                
        <datepicker id= "expiryDate" ng-model="formData.startingDate" min-date="minDate" show-weeks="false" class="well well-sm" style = "background-color:#fff ;margin-bottom:0">             
        </datepicker>

        </div>
        </div> 
        <br>
    <label for="closingdate">Closing Date</label> 
    <input type="text"  style = "margin-bottom:3px" ng-click = "goEvent();" placeholder = "Select date" ng-model="formData.closeDate">
    <button class="button2  btn-group-justified" style = "margin-top:0" ng-click="goEvent();"> <i class="fa fa-calendar" style = "color:#fff" aria-hidden="true"></i></button>
    </input> 
        <div ng-show="datePicker">
        <div style="display:inline-block; min-height:290px;"> 
        <!--button type="btn btn-xs" class="close" aria-label="Close" ng-click="close();">
        <i class="fa fa-times-circle" style="color:#291919;" aria-hidden="true" ></i>
        </button-->                
        <datepicker id= "expiryDate" ng-model="formData.closingDate" min-date="minDate" show-weeks="false" class="well well-sm" style = "background-color:#fff ;margin-bottom:0">             
        </datepicker>

        </div>
        </div> 

  </form>
  
</div>