

<div>
  <div class="loader" ng-show = "tokenDetailsLoader">Loading...</div>
  <form ng-show = "!tokenDetailsLoader">
    <h4>Token Details</h4>
    <!--<input type="text" value="username"/>-->
    <label for="tokenName">Token Name</label> 
    <input type="text" name="tokenName" id="tokenName" placeholder="Enter token Name" ng-model="formData.tokenName" required>
    <label for="symbol"> Symbol</label> 
    <input type="text" id="symbol" placeholder="Enter Symbol" ng-model="formData.symbol" required>
    <label for="initialSupply"> Initial Supply</label> 
    <input type="number" id="initialSupply" placeholder="Enter initial Supply" ng-model="formData.initialSupply" required>
    <label for="decimal"> Decimal</label> 
    <input type="number"  id="decimal" placeholder="Enter decimal" ng-model="formData.decimal" required>
    <button ng-click="tokenDistributionNextClick()"  class="button button2" style = "width:100%">
        Next 
    </button>
 
  </form>
  
</div>